*{
    box-sizing: border-box;
}


html,body {
    background-image: url('images/new-background.jpg');
}


h1 {
    color: rgb(175,181,176);
}


p {
    color: rgb(175,181,176);
    font-size: 25px;

}

img {
    width: auto;
    height: 150px;
}

#backpacking {
    width: 550px;
    height: 350px;
}

#hiking {
    width: 550px;
    height: 350px;
}

#camping {
    width: 550px;
    height: 350px;
}

#gallery-1 {
    width: 550px;
    height: 350px;
}

#gallery-2 {
    width: 550px;
    height: 350px;
}

#gallery-3 {
    width: 550px;
    height: 350px;
}

#gallery-4 {
    width: 550px;
    height: 350px;
}

#gallery-5 {
    width: 550px;
    height: 350px;
}

#gallery-6 {
    width: 550px;
    height: 350px;
}

#gallery-7 {
    width: 550px;
    height: 350px;
}

#gallery-8 {
    width: 550px;
    height: 350px;
}





#link1 {
    color: white;
    text-decoration: 20px;
    text-shadow: gray;
    font-size: 3em;
    font-weight: bold;

}

#link2 {
    color: white;
    text-decoration: 20px;
    text-shadow: gray;
    font-size: 3em;
    font-weight: bold;


}

#link3 {
    color: white;
    text-decoration: 20px;
    text-shadow: gray;
    font-size: 3em;
    font-weight: bold;



}

.link-wrapper {
    transform: translate(-50%, -50%);
    gap: 10rem;
}

.link-container {
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    position: absolute;
}

.image1 {
    position: relative;
    width: auto;

}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0 , 0.6);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay > * {
    transform:  translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;

}

.image2 {
    position: relative;
    width: auto;

}

.image__img2 {
    display: block;
    width: 100%;
}

.image__overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0 , 0.6);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur2 {
    backdrop-filter: blur(5px);
}

.image__overlay2 > * {
    transform:  translateY(20px);
    transition: transform 0.25s;
}

.image__overlay2:hover {
    opacity: 1;
}

.image__overlay2:hover > * {
    transform: translateY(0);
}

.image__title2 {
    font-size: 2em;
    font-weight: bold;
}

.image__description2 {
    font-size: 1.25em;
    margin-top: 0.25em;

}

.image3 {
    position: relative;
    width: auto;

}

.image__img3 {
    display: block;
    width: 100%;
}

.image__overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0 , 0.6);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur3 {
    backdrop-filter: blur(5px);
}

.image__overlay3 > * {
    transform:  translateY(20px);
    transition: transform 0.25s;
}

.image__overlay3:hover {
    opacity: 1;
}

.image__overlay3:hover > * {
    transform: translateY(0);
}

.image__title3 {
    font-size: 2em;
    font-weight: bold;
}

.image__description3 {
    font-size: 1.25em;
    margin-top: 0.25em;

}

.image4 {
    position: relative;
    width: auto;

}

.image__img4 {
    display: block;
    width: 100%;
}

.image__overlay4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0 , 0.6);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur4 {
    backdrop-filter: blur(5px);
}

.image__overlay4 > * {
    transform:  translateY(20px);
    transition: transform 0.25s;
}

.image__overlay4:hover {
    opacity: 1;
}

.image__overlay4:hover > * {
    transform: translateY(0);
}

.image__title4 {
    font-size: 2em;
    font-weight: bold;
}

.image__description4 {
    font-size: 1.25em;
    margin-top: 0.25em;

}

.image5 {
    position: relative;
    width: auto;

}

.image__img5 {
    display: block;
    width: 100%;
}

.image__overlay5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0 , 0.6);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur5 {
    backdrop-filter: blur(5px);
}

.image__overlay5 > * {
    transform:  translateY(20px);
    transition: transform 0.25s;
}

.image__overlay5:hover {
    opacity: 1;
}

.image__overlay5:hover > * {
    transform: translateY(0);
}

.image__title5 {
    font-size: 2em;
    font-weight: bold;
}

.image__description5 {
    font-size: 1.25em;
    margin-top: 0.25em;

}

.image6 {
    position: relative;
    width: auto;

}

.image__img6 {
    display: block;
    width: 100%;
}

.image__overlay6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0 , 0.6);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur6 {
    backdrop-filter: blur(5px);
}

.image__overlay6 > * {
    transform:  translateY(20px);
    transition: transform 0.25s;
}

.image__overlay6:hover {
    opacity: 1;
}

.image__overlay6:hover > * {
    transform: translateY(0);
}

.image__title6 {
    font-size: 2em;
    font-weight: bold;
}

.image__description6 {
    font-size: 1.25em;
    margin-top: 0.25em;

}

.image7 {
    position: relative;
    width: auto;

}

.image__img7 {
    display: block;
    width: 100%;
}

.image__overlay7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0 , 0.6);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur7 {
    backdrop-filter: blur(5px);
}

.image__overlay7 > * {
    transform:  translateY(20px);
    transition: transform 0.25s;
}

.image__overlay7:hover {
    opacity: 1;
}

.image__overlay7:hover > * {
    transform: translateY(0);
}

.image__title7 {
    font-size: 2em;
    font-weight: bold;
}

.image__description7 {
    font-size: 1.25em;
    margin-top: 0.25em;

}

.image8 {
    position: relative;
    width: auto;

}

.image__img8 {
    display: block;
    width: 100%;
}

.image__overlay8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0 , 0.6);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur8 {
    backdrop-filter: blur(5px);
}

.image__overlay8 > * {
    transform:  translateY(20px);
    transition: transform 0.25s;
}

.image__overlay8:hover {
    opacity: 1;
}

.image__overlay8:hover > * {
    transform: translateY(0);
}

.image__title8 {
    font-size: 2em;
    font-weight: bold;
}

.image__description8 {
    font-size: 1.25em;
    margin-top: 0.25em;

}






