html,body {
    background-image: url('images/new-background.jpg');
    background-size: auto;
    font-family: "Trebuchet MS", 'sans-serif';
}

/*navbar styles*/
.navbar-nav > a {
    color: white !important;
    text-decoration: 20px;
    text-shadow: gray;
    font-size: 3em;
    font-weight: bold;
    align-items: center;

}

h1 {
    color: white;
}


p {
    color: white;
    font-size: 20px;

}
/*section list*/
#backpacking-list, #hiking-list,#camping-list {
    color: white;
    font-size: 20px;
}
/*location list*/
#locations {
    font-size: 20px;
}
/*individual  colors for location list*/
#location1 {
    color: rgba(180,2,25,100);
}

#location2 {
    color: rgba(187,68,0,100);
}

#location3 {
    color: rgba(46,250,255,1);
}

#location4 {
    color: rgba(25,180,2,100);
}

#location5 {
    color: rgba(122,73,165,100);
}

#location6 {
    color: rgba(255,255,255,100);
}

/*section images*/
#backpacking, #hiking ,#camping{
    width: 100%;
    height: auto;
    align-items: center;
    object-fit: cover;
}



#carousel {
    justify-content: center;
}

/*carosel images*/
#gallery-1,#gallery-2,#gallery-3,#gallery-4,#gallery-5,#gallery-6 {
    width: 100%;
    height: auto;
    align-items: center;
    object-fit: cover;

}

/*map styles*/
#map {
    min-height: 400px;
    width: 100%;
  }

/*hover effect carousal*/
.link-wrapper {
    transform: translate(-50%, -50%);
    gap: 10rem;
}

.link-container {
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    position: absolute;
}

.carousel-image-wrapper {
    position: relative;
    width: auto;
    height: auto;

}

.carousel-image__img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.carousel-image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0 , 0.6);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.carousel-image__overlay--blur {
    backdrop-filter: blur(5px);
}

.carousel-image__overlay > * {
    transform:  translateY(20px);
    transition: transform 0.25s;
}

.carousel-image__overlay:hover {
    opacity: 1;
}

.carousel-image__overlay:hover > * {
    transform: translateY(0);
}

.carousel-image__title {
    font-size: 2em;
    font-weight: bold;
}

.carousel-image__description {
    font-size: 1.25em;
    margin-top: 0.25em;

}







